.sb-nav-fixed {
    padding-top: 4.5rem;
}

.sb-sidenav-dark {
    background-color: #2c3e50;
}

.sb-sidenav-menu {
    background-color: #2c3e50;
}

.sb-nav-link-icon {
    color: #ffffff;
}

.sb-nav-link-icon:hover {
    color: #ffffff;
}

.sb-sidenav-menu .nav-link {
    color: #ffffff;
}

.sb-sidenav-menu .nav-link:hover {
    color: #ffffff;
}

.sb-sidenav-menu .nav-link.active {
    color: #ffffff;
    background-color: #34495e;
}

.sb-sidenav-menu .nav-link.active::before {
    background-color: #ffffff;
}

.sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #ffffff;
}

.sb-sidenav-menu .nav-link.active .sb-nav-link-icon::before {
    background-color: #ffffff;
}

.sb-sidenav-menu .nav-link.active:hover {
    color: #ffffff;
    background-color: #2c3e50;
}

.sb-sidenav-menu .nav-link.active:hover::before {
    background-color: #ffffff;
}

.sb-sidenav-menu .nav-link.active:hover .sb-nav-link-icon {
    color: #ffffff;
}

.sb-sidenav-menu .nav-link.active:hover .sb-nav-link-icon::before {
    background-color: #ffffff;
}

.sidebar {
    height: 300vh;
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    transition: width 0.3s ease;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sidebar-header i {
    margin-right: 0.5rem;
}

.nav-link {
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #34495e;
    border-radius: 4px;
}

.nav-link i {
    margin-right: 0.5rem;
    width: 1.5rem;
}

.sidebar-menu-heading {
    color: #bdc3c7;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 100% solid #34495e;
}


@media (max-width: 768px) {
    .sidebar {
        width: auto;
    }

    .nav-link span {
        display: none;
    }

    .sidebar-menu-heading {
        display: none;
    }
}

/* Mobile breakpoint */
@media (max-width: 576px) {
    .sidebar {
        width: 150px;
        background-color: #2c3e50;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        display: none;
    }

    .sidebar.show {
        transform: translateX(0);
    }
}
